<form id="form-connect" method="POST" action="/user/connect">
	<label for="nickname">Nickname</label> <input id="nickname" type="text">
	<input id="password"type="password">
	<input type="submit">
</form>
<div class="alert alert-danger">
	ERROR
</div>
