<a href="#menu" id="menuLink" class="menu-link">
    <span></span>
</a>
<div id="menu">
        <div class="pure-menu pure-menu-open">
            <div class="top-line">
                <a href="/">{{APP_NAME}}</a>
                {{!-- <a href="#upload">Upload</a> --}}
            </div>
            <div class="top-menu">
                IMG
            </div>
            <ul>
                <li>
                    <a href="/user/{{{session.user.id}}}/favorites">
                        <span class="glyphicon glyphicon-heart"></span> Favorites
                    </a>
                </li>
                <li>
                    <a href="/user/{{{session.user.id}}}/tabs">
                        <span class="glyphicon glyphicon-music"></span> Tabs
                    </a>
                </li>
                <li>
                    <a href="/listing">
                        <span class="glyphicon glyphicon-star"></span> Listing
                    </a>
                </li>
                <li>
                    <a role="button" href="#upload" data-toggle="modal" data-target="#modal-dropzone">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </a>
                </li>
{{!--                 <li class="menu-item-divided pure-menu-selected">
                    <a href="#"></a>
                </li> --}}
                <li>
                    <a href="/search" >
                       <span class="glyphicon glyphicon-search"></span>  Listing
                    </a>
                </li>
                <span class="separator"></span>
            </ul>
        </div>
    </div>
</div>