<nav class="navbar navbar-inverse navbar-fixed-top"role="navigation">
	<a href="" class="navbar-brand">Express</a>
	<ul class="nav navbar-nav" role="navigation">
		<li><a href="/">Home</a></li>
		<li><a href="/users">About</a></li>
	</ul>

  <form action="" role="search" class="navbar-form navbar-right">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Seach">
    </div>
  <button type="submit" class="btn btn-info">Submit</button>
  </form>

</nav>  
