<body>
	{{> bootstrap/jumbotron-bt }}
	
	<div class="row">
		<div class="col-md-9"></div>
		<div class="col-md-3">
		<ul class="list-group">
			{{#each tabs}}
				<li class="list-group-item">
				{{name}}
					<span class="badge">{{note}}</span>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
</body>