@import "compass/css3";

$main-color : #2baae1;

/* top line colors :
    #f15a29
    #f35656
*/
$top-line-color : #f35656;

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#menu {
    .glyphicon {
        font-size: 2em;
    }
}


/*
Add transition to containers so they can push in and out.
*/

#layout, #menu, .menu-link {
     @include transition-duration(0.2s);
     @include transition-timing-function(ease-out);
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
#layout.active {
    position: relative;
    left: 200px;
}
#layout.active #menu {
    left: 200px;
    width: 200px;
}

#layout.active .menu-link {
    left: 200px;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -200px; /* "#menu" width */
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: $main-color;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
/*
All anchors inside the menu should be styled like this.
*/
#menu a {
    text-decoration: none;
    color: #333;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
}

/*
Remove all background/borders, since we are applying them to #menu.
*/
 #menu .pure-menu,
 #menu .pure-menu ul {
    border: none;
    background: transparent;
}

/*
Add that light border to separate items into groups.
*/
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 1px solid darken($main-color,10%);
        border-top: solid 1px white;

}



#menu .pure-menu {
    .separator {
        display: block;
        width:100%;
        border-top: 1px solid rgba(255,255,255,0.3);
    }
    ul {
        padding: 0;
        width: 100%;
    }
}


/*
Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li {
    font-family: "Ubuntu Mono";
    list-style-type:none;
    width: 100%;
    display: block;
    height: 60px;
    padding: 0;
    border-top: solid 1px rgba(255,255,255,0.3);
    border-bottom: solid 1px darken($main-color,10%);
    a {
        span {
            vertical-align: middle;
            display: inline-block;
            width: 45px;
            padding: 5px;

        }
        color:white;
        width: 100%;
        display: inline-block;
        height: 100%;
    }
    a:hover,a:focus {
       background: white;
       color: #3ba6ec;               
    }
}
/*
This styles the selected menu item `<li>`.
*/
#menu .top-menu {
    background: white;
    width: 100%;
    height: 100px;
}


#menu .top-line {
    //top line
    background: $top-line-color;
    width:200px;
    height: 50px;
    
    
    a {      
        font-size: 1.4em;
        text-align: center;
        height: 100%;
        color:white;
        text-shadow: darken($main-color,20%);
        display: inline-block;
        background: $top-line-color;
        width:100%;
        margin:0;
        box-sizing: border-box;

        &:hover {
            background: lighten($top-line-color,10%);
        }
    }
}


/*
This styles a link within a selected menu item `<li>`.
*/
#menu .pure-menu-selected a {
    color: $main-color;
}


 /* -- Dynamic Button For Responsive Menu -------------------------------------*/
 
 /*
 `.menu-link` represents the responsive menu toggle that shows/hides on
 small screens.
 */
 .menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: black;
    font-size: 20px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    // padding: 2.1em 1.6em;
    span {
        position: relative;
        display: block;       
    }
 }
 .menu-link:hover,
 .menu-link:focus {
     background: yellow;
 }
 .menu-link span,
 .menu-link span:before,
 .menu-link span:after {
     background-color: black;
     width: 100%;
     height: 0.2em;
 }
 .menu-link span:before,
 .menu-link span:after {
     position: absolute;
     margin-top: -0.6em;
     content: " ";
 }
 .menu-link span:after {
     margin-top: 0.6em;
 }



/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 200px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 200px;
    }

    .menu-link {
        position: fixed;
        left: 200px;
        display: none;
    }

    #layout.active .menu-link {
        left: 200px;
    }
}












