/* main style */
@import "compass/css3";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
	font-family: "Ubuntu Mono";
	src:url('../fonts/UbuntuMono-Regular.ttf');
}

@-webkit-keyframes rotateImg{
     from { @include transform(rotate(0deg)); }
     35%  { @include transform(rotate(130deg)); }
     to   { @include transform(rotate(360deg)); }
}
@keyframes rotateImg{
     from { @include transform(rotate(0deg) scale(1) skew(-50deg)); }
     35%  { @include transform(rotate(130deg) scale(1) skew(-50deg)); }
     to   { @include transform(rotate(360deg) scale(1) skew(-50deg)); }
}

/****** Main *******/
body {
	background: #f7f7f7;
	text-decoration: none;
}

.navbar[role="navigation"] {
	margin-bottom: 1px;
}

h1 {
	text-align: center;
	color: #f35656;
}

h3 {
	margin-left:2%;
}

/****** tabs style ******/
.editor {
	display: none;
} 
.vex-tabdiv {
	margin:auto;
	width: 400px;
}

/****** Upload *******/

.dropper {
	text-align: center;
	font-size: 20em;
	.glyphicon-remove-circle {
		color:red;
	}

	.glyphicon-ok-circle {
		color:green;
	}
}

.dropper-active {
	text-align: center;
	font-size: 20em;
	color: #46b525;
}

@mixin circle-rounded($circle-size, $centered-circle-size) {
	.rounded {
		max-width: 250px;
		max-height: 250px;
		width: $circle-size;
		height: $circle-size;
		background: white;
		@include border-radius(50%);
		border: 1px solid white;
		padding-left: 8px;
		padding-top: 8px;
		@include box-shadow(rgba(0,0,0,0.6) 0px 0px 5px );

		img {
			width:$centered-circle-size;
			height: $centered-circle-size;
			border:#a4a4a4 1px solid ;
			@include border-radius(50%);
			display: inline-block;


			&:active  {
				-webkit-animation: rotateImg 2s linear 0s;
	             animation: rotateImg 2s linear 2s;

			}
		}
	}	
}

/****** User profil ******/
.user-profil {
	background: white;
	.row {
		margin: 0;
	}
	//profile image
	@include circle-rounded(220px,202px);

	//description
	.infos {
		font-family: "Verdana";
		margin-top: 5px;

		.nickname {
			font-size: 2em;
		}
		.firstname, .lastname, .birthday {
			color:#b4b4b4;
			font-size: 1.1em;
		}

		.description {

		}
	}
	
	.nickname {
		vertical-align: top;
		font-size:2em;
		color:black;
	}

	.followers {
		padding-left: 10px;
		h2 {
			font-family: "Verdana";
		}

		li {
			list-style: none;
		}
	}

	.col-md-4, .col-md-3, .col-md-1 {
		padding: 0;
	}
	//right side for other information
	.right-side {
		padding-top: 10px;
		padding-left: 1%;
		background: #f7f7f7;
		.glyph-title {
			font-size: 1em;
			width: 31%;
		}
		.glyph-number {
			font-size: 3em;
			width: 31%;
		}

		border-left: 1px solid rgba(170,172,178,0.3);
		hr {
			width:100%;
			margin-left: auto;
			margin-right: auto;
		}
		.top-container {
			height: 60px;
			#button-follow, #button-unfollow {
				color:white;
				display: inline-block;
				height: 35px;
				min-width: 50px;
				background-color:#3498db;
				@include border-radius(3px);
			}

			.btn-update {
				margin-left: 10px;
				color:white;
				height: 35px;
				min-width: 50px;
				background-color: #1abc9c;
			}
		}
		
		.tricks {
			height: 2*60px;
			.glyphicon, .glyph-number,.glyph-title {
				display: inline-block;
				margin: auto;
			}
			.glyphicon {
				width: 30%;
				font-size: 4em;
				color:rgba(0,0,0,0.6);
			}
			.glyphicon-heart-empty, .glyph-number-favorites {
				color: #f95645;
			}
			.glyphicon-star-empty, .glyph-number-stars {
				color:#f5e424;
			}
			.glyphicon-music {
				color: #71cbb9;
				font-size: 3.6em;
			}

			.glyph-number-tabs {
				color: #71cbb9;
				font-size: 3.5em;
			}
		}

		.followers {
			ul {
			padding: 0;
			//resize the circle for the followers img
				.rounded {
					margin-left: 1%;
					margin-bottom: 3%;
					border: 1px solid white;
					padding-left: 1px;
					padding-top: 1px;
					display: inline-block;
					height: 74px;
					width: 74px;
					img {
						height: 70px;
						width: 70px;
					}
				}				
			}
		}
	}


}

/****** User inscription ******/
.user-info {
	input, textarea,label,p {
		display: block;
		width: 30%;
		margin: auto;
	}
	input[type="file"] {
		margin-top: 1%;
		color:transparent;
	}
	.help-block {
		margin-bottom: 1%;
	}
	input[type="submit"] {
		margin-top: 2%;
		margin-right: 35%;
		max-width: 100px;
		width: 100px;
		background-color: #7db500;
		color: white;
	}
}


/****** Tab page *****/

#favorite-button {
	.glyphicon {
		color:#f35656;
	}
	
	.glyphicon:hover {
		color:red;
	}
	text-decoration: none;
}

#download-button {
	.glyphicon {
		color: #1abc9c;
	}
	text-decoration: none;
	.glyphicon:hover {
		color:green;
	}
}


//comments style
#comment-box {
	padding-bottom:10px;
	padding-top: 10px;
	@include border-radius(7px);
	// border:solid 1px white;
	@include box-shadow(rgba(0,0,0,0.6) 0px 0px 10px );
	.form-comment {
		
		padding:3%;

		background-color: #fafafa;
		p {
			font-size: 1.4em;
		}

		.post-comment {
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			@include box-shadow(rgba(176,172,180,0.8) 0px 0px 2px );
			padding: 5px;

			.form-control, #submit-comment, #post-note {
				height: 40px;
			}
		}
	}

	margin-left: 15%;
	margin-right: 15%;
	
	

	.comments {
		height: 100%;
		background-color: white;
		padding-left: 3%;
		padding-right: 3%;
		
		
		.comment {
			display: block;
			.author {
				font-size: 1.5em;
				display: inline-block;
				width: 20%;
				text-align: center;
				font-style: "Verdana";
			}
			.note {
				display: inline-block;
				font-size: 1.5em;
				color:#d4d4d4;
			}
			.body {
				font-size: 0.9em;
				color:#b4b4b4;
				padding: 3%;
				min-height: 60px;
			}
		}
	}

}

/****** lists ******/
.list-group {
	.list-group-item {
		text-align: center;
		a {
			text-decoration: none;
			.glyphicon-download {
				color:#1abc9c;
				font-size: 1.2em;
			}
			.glyphicon-download:hover {
				color:green;
			}			
		}
	}
}


/******* footer ******/
footer {
	p {
		text-align: right;
		margin-right: 1%;
	}
}


